body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

/* content area */
.list-view .summary {
    float: right;
    margin: 0 0 5px;
    text-align: right;
    width: 500px;
}

.list-view .sorter {
    margin: 0 0 5px;
    text-align: right;
    float: left;
}


div.content-area
{
    padding: 5px 20px;
    clear:both;
}

div.content-area h1{
    font-size: 1.5em;
    font-style: oblique;
    border-bottom: 1px solid #333;
    color: #333;
    margin-bottom: 10px;
    padding: 10px 0px;
}
.contentListing{
    clear: both;
}
div.items{
    clear: both;
}
.row{
    padding: 10px 0 20px 0px;
    clear: both;
    width: 100%;
    float: left;
}

.media-head{
    float: left;
    width: 130px;
}

.image-thumb img{
    width: 120px;
}

.media-body{
    float: left;
    width: 550px;
    padding-right: 15px;
}

blockquote{
    margin: 0 0 0 5px;
}

blockquote h4{
    margin-bottom: 10px;
}

span.title{
    font-size: 0.9em;
}

blockquote p{
    margin-bottom: 5px;
    font-size: 0.9em;
}

.media-action{
    font-size: 0.9em;
    float: left;
    width: 215px;
}

/* button styles */
.btn, .btn:hover {
    background-color: rgba(159, 159, 159, 0.20);
    border: 1px solid #62a0c9;
    border-radius: 6px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    padding: 4px 20px;
    text-align: center;
    text-transform: capitalize;
    width: 50px;
    text-decoration: none;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
    background: white url("bg.gif") repeat-x scroll left top;
}

.green,
.green:hover{
    background-image: -moz-linear-gradient(center top , #8ac403 0%, #78a809 100%);
    color: #ffffff;
}
.red,
.red:hover {
    background-color: #d0451b;
    background-image: -moz-linear-gradient(center top , #d0451b 0%, #942911 100%);
    border: 1px solid #942911;
    color: #fff;
}
.yellow,
.yellow:hover
{
    background-color: #ffcd4d;
    background-image: -moz-linear-gradient(center top , #fbcf2d 0%, #fba11d 100%);
    border: 1px solid #fbb131;
    color: #fff;
}
.expiry {
    color: #ff0000;
}
.deleted {
    background-image: -moz-linear-gradient(center top , #9c3522 0%, #7f1d1e 100%);
}

/** pill style **/
.pill {
    padding: 5px 10px;
    background-color: #cccccc;
    border-radius: 6px;
}
.pill-approved{
    background-color: #8ac403;
    border: 1px solid #78a809;
    color: #FFF;
}
.pill-pending{
    background-color: #fbb621;
    border: 1px solid #fbb621;
    color: #FFF;
}
.pill-rejected{
    background-color: #d0451b;
    border: 1px solid #942911;
    color: #FFF;
}

.status-btn{
    width: 100px;
    float: left;
}

.action-btn{
    width:100px;
    float: right;
}

.action-btn a{
    margin-bottom: 5px;
}

